.menu-posts {
  display: flex;
  justify-content: flex-start;
  max-width: 1400px;
  margin: 40px auto 80px;

  .amountSelect {
    height: 50px;
    display: flex;
    align-items: center;
    width: 200px;
    font-size: 18px;
    margin-right: 50px;
  }

  .resetSelect {
    background: rgba(0, 0, 255, 0.5);
    //width: 200px;
    padding: 16px;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
    //height: 50px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;

    &:hover {
      background: rgba(0, 0, 255, 1);
    }

    &.searchName {
      padding: 10px;
    }
  }

  .postSelect {
    background: rgba(255, 18, 0, 0.5);
    //width: 200px;
    padding: 16px;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
    //height: 50px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;

    &:hover {
      background: rgb(255, 17, 0);
    }
  }

  .enterNickName {
    margin-top: 8px;
    padding: 5px;
    height: 20px;
    outline: none;
    border: 1px solid #0000FF;
    border-radius: 3px;
    margin-right: 50px;
    margin-left: 150px;
  }
}

.content {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;

  .post {
    max-width: 19%;
    margin: 5px;
    padding: 16px;
    border-radius: 2px;
    //border: 1px solid;
    //min-height: 170px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.5;

    .img-wrapper {
      overflow: hidden;
      position: relative;
      //max-width: 100%;
      //max-height: 308px;
      background: black;
      margin-bottom: 10px;

      .img-post {
        opacity: 0.5;
        object-fit: cover;
        max-width: 328px;
        max-height: 308px;

        transition: 0.3s;
      }
    }

    .like {
      font-size: 18px;
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      .icon-like {
        object-fit: cover;
        //width: 20px;
        //height: 20px;
        margin-right: 10px;
      }
    }

    .description {
      font-size: 14px
    }

    &.active {
      .img-wrapper {
        .img-post {
          opacity: 1;
        }
      }
      //background: #dccfc3;
      opacity: 1;
    }

    &:hover {
      .img-wrapper {
        .img-post {
          opacity: 0.9;
        }
      }
      //background: #dccfc3;
      //opacity: 0.7;
    }
  }
}