<div class="menu-posts">
    <!--<div class="amountSelect">-->
        <!--Выбранно: {{this.arrSendPost.length}}-->
    <!--</div>-->
    <!--<div class="resetSelect" (click)="resetSelectPost()">-->
        <!--Сбросить выбранные посты-->
    <!--</div>-->

    <!--<div class="postSelect" (click)="sendSelectPost()">-->
        <!--Отправить в блог бук-->
    <!--</div>-->
    <input class="enterNickName" [(ngModel)]="valueNick" value="" placeholder="введите никнейм" type="text">
    <div class="resetSelect searchName" (click)="valueNickchange()">
        отправить посты этого профиля на почту
    </div>
</div>
<!--<div class="content">-->
    <!--<div class="post" *ngFor="let item of arrPost let i = index" (click)="selectPost(i)" [ngClass]="{active: this.arrPostActive[i] === true}">-->
        <!--<div class="img-wrapper">-->
            <!--<img class="img-post" [src]="item.imageUrl">-->
        <!--</div>-->
        <!--<div class="like">-->
            <!--<img class="icon-like" src="./../assets/image/like-ico.png" alt="">-->
            <!--{{item.likeCount}}-->
        <!--</div>-->
        <!--<div class="description">-->
           <!--{{item.caption}}-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


